<!-- <app-calculadora-viaje
    [distancia]="distancia"
    [consumo]="consumo"
    [costoCombustible]="costoCombustible"
    [costoPeaje]="costoPeaje"
    (enviarTiempo="calcularViaje($event)")>
  </app-calculadora-viaje> -->
  <!--  <app-viaje-input
    (enviarDatos)="calcularViaje($event)">
  </app-viaje-input> -->
  <!-- hijo -->
 

 

  <div>
      <h2>Resultados del viaje</h2>
      <p>Distancia: {{ distancia }} km</p>
      <p>Consumo por galón: {{ consumo }} km/galón</p>
      <p>Costo del galón de combustible: ${{ costoCombustible }}</p>
      <p>Costo de peaje: ${{ costoPeaje }}</p>
      <p>Tiempo estimado de viaje: {{ tiempoEstimadoViaje }} horas</p>
      <p>Costo total del viaje: ${{ costoTotal }}</p> 
    </div>
    
    <!-- (enviarDatos)="redatosViaje($event)" 
    [velocidadPromedio]="velocidadPromedio"--> 
